table {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0 5;
}
th{
    border-collapse: collapse;
    border: 1px solid black;
}
td{
    border: 1px solid black;
     padding: 0 20px;
     text-align: center;
}
